.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
}

.dogeH3 {
  font-family: "Comic Sans MS", "Comic Sans", "Chalkboard", "Chalkboard SE", "Comic Neue", sans-serif;
}
.featureCol {
  padding-top:24px;
}