
@font-face {
  font-family: 'Comic Neue';
  src: url('ComicNeue-Bold.woff2') format('woff2'),
      url('ComicNeue-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('ComicNeue-BoldItalic.woff2') format('woff2'),
      url('ComicNeue-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
